<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>

    <script src="js/entryA.js"></script>
    <script src="js/entryB.js"></script>
</head>
<body>
    Hello World!
</body>
</html>
